
:root{
   --dark-blue:#1F438C;
   --white:#ECEEF1;
   --grey:#BFBFBF;
}

.hero-header-container img{
    max-width: 100%;
}

.container-nav{
    background-color: var(--dark-blue);
}

.navbar-nav a{
    font-size: 25px;
    margin: 0px 150px;
    color: var(--white);
}

.vert-line{
    border: 1px solid var(--white);
    height: 30px;
    margin-top:10px;  
}

#about-container h1,#skies-container h1{
    text-align: center;
    margin: 20px;
    
}

.question-blue{
    margin: 20px 300px;
    max-width: 50%;
    background-color: var(--dark-blue);
}

.question-blue h4{
    text-align: center;
    color: var(--white);
}

.partext p{
    margin: 20px 300px;
    text-align: justify;
    max-width: 50%;
}

.sub-heading{
    margin: 20px 300px;
    background-color: var(--grey);
    max-width: 20%;
}

#skies-container{
    background-color: var(--dark-blue);
    color:var(--white);
}

.row{
    width:100%;
}

.col img{
    max-width: 70%;
    margin: 20px 50px;
}

.skies-text{
    width: 700px;
    margin: 20px 300px;
}
