
:root{
   --dark-blue:#1F438C;
   --white:#ECEEF1;
   --grey:#BFBFBF;
}

.hero-header-container{

    margin: 0px 300px;
}

.hero-header-container img{
    max-width: 100%;
}

.nav{
    background-color: var(--dark-blue);
}

.nav-item a{
    color: var(--white);
    font-size: 30px;
    margin:0px 5em;
}

.vert-line{
    border: 1px solid var(--white);
    height: 30px;
    margin:19px 10px; 
    
}

#about-container h1,#skies-container h1{
    text-align: center;
    margin: 20px;
    
}

#question-blue{
    width:50%;
    background-color: var(--dark-blue);
}

#question-blue h4{
    text-align: center;
    color: var(--white);
}

.partext p{
    margin: 20px 330px;
    text-align: justify;
    max-width: 50%;
}

.sub-heading{
    margin: 20px 323px;
    background-color: var(--grey);
    max-width: 20%;
}

#skies-container{
    background-color: var(--dark-blue);
    color:var(--white);
    padding-bottom: 50px;
}

.row{
    width:100%;
}

.col img{
    max-width: 100%;
    margin: 0px 10px;
}

#crop{
    height: 50%;
}

.skies-text{
    width: 700px;
    margin: 20px 300px;
}
