:root{
  --dark-blue:#1F438C;
  --white:#ECEEF1;
  --grey:#BFBFBF;
}


@media (min-width: 576px) and (orientation: landscape) {

  .img-fluid {
    padding: 0em 1em;
}

  #full-width {
    padding: 0em 0em;
    max-width: 100vw;
}

  #question-blue,#grey{
    max-width: 80%;
    margin: 0em 5em;
  }

  #center{
    max-width: 80%;
    margin: 0em 5em;
  }

  #grid{
    padding: 0em 9em;
  }

}

@media (min-width: 768px){

  .img-fluid {
    padding: 0em 3em;
}

  #full-width {
    padding: 0em 0em;
    max-width: 100vw;
}

  #question-blue,#grey{
    max-width: 80%;
    margin: 0em 5em;
  }

  #center{
    max-width: 80%;
    margin: 0em 5em;
  }

  #grid{
    padding: 0em 12em;
  }

  #crop img {
    height: 10em;
    width: 10em;
    
}

  
}



@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}
    