:root{
  --dark-blue:#1F438C;
  --white:#ECEEF1;
  --grey:#BFBFBF;
}

@media (max-width: 300px){

  .hero-header-container{
    margin: 0rem 3rem;
  }

  .hero-header-container img {
    width: 100vw;
    height: 5vh;
}

.dispaly {
  background-color: var(--dark-blue);
  color: var(--white);
  width: 63%;
  margin: -6.5em -14.5em;
  display: block;
  text-align: center;
  font-size: 10px;
}

.nav-item a {
    font-size: 10px;
    margin: 0rem 0rem;
}

.vert-line {
  height: 1rem;
  margin: 0.5rem 0rem;
}


#about-container h1, #skies-container h1 {
  margin: 13px;
  font-size: 18px;
}

#question-blue {
  margin: 0rem 0rem;
  width: 86vw;
}

#question-blue p {
  text-align: center;
  font-size: 14px;
  color: var(--white);
}

.h3{
  font-size: 20px;
}

.grey{
  background-color: var(--grey);
  margin-left: 0rem;
  margin-right: -0.1rem;
}

h6{
  padding: 0rem 0.5rem;
  
}

.fs-6 {
  max-width: 100%;
  padding: 0rem 0.5rem;
  font-size: 10px ;
  text-align: justify;
}

.col img {
  max-width: 69vw;
  margin: 1rem 2rem;
}

}

@media (min-width: 350px){

  .hero-header-container{
    margin: 0rem 3rem;
  }

  .hero-header-container img {
    width: 100vw;
    height: 5vh;
}

.dispaly {
  background-color: var(--dark-blue);
  color: var(--white);
  width: 63%;
  margin: -6em -14em;
  display: block;
  text-align: center;
  font-size: 12px;
}

.nav-item a {
    font-size: 10px;
    margin: 0rem 0rem;
}

.vert-line {
  height: 1rem;
  margin: 0.5rem 0rem;
}


#about-container h1, #skies-container h1 {
  margin: 13px;
  font-size: 18px;
}

#question-blue {
  margin: 0rem 0rem;
  width: 87vw;
}

#question-blue p {
  text-align: center;
  font-size: 14px;
  color: var(--white);
}

.h3{
  font-size: 20px;
}

.grey{
  background-color: var(--grey);
  margin-left: 0rem;
  margin-right: 0.1rem;
}

h6{
  padding: 0rem 0.5rem;
  
}

.fs-6 {
  max-width: 100%;
  padding: 0rem 0.5rem;
  font-size: 10px;
  text-align: justify;
}

.col img {
  max-width: 69vw;
  margin: 1rem 2rem;
}

}

@media (min-width: 576px) {

  .hero-header-container{
    margin: 0rem 3rem;
  }

  .hero-header-container img {
    width: 100vw;
    height: 10vh;
}

.dispaly {
  background-color: var(--dark-blue);
  color: var(--white);
  width: 75%;
  margin: -8em -21em;
  display: block;
  text-align: center;
  font-size: 13px;
}

.nav-item a {
    font-size: 12px;
    margin: 0rem 0rem;
}

.vert-line {
  height: 1rem;
  margin: 0.5rem 0rem;
}

#about-container h1, #skies-container h1 {
  margin: 13px;
  font-size: 20px;
}

#question-blue {
  margin: 0rem 3rem;
  width: 73vw;
}

.fs-6 {
  padding: 0rem 3rem;
  text-align: justify;
}

#question-blue p {
  text-align: center;
  font-size: 16px;
  color: var(--white);
}

.grey{
  background-color: var(--grey);
  margin-left: 3rem;
  margin-right: 3rem;
}

h6{
  padding: 0rem 0.5rem;
  
}

.col img {
  max-width: 50vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-left: 8rem;
}

}

@media (min-width: 768px) {

  .hero-header-container{
    margin: 0rem 3rem;
  }

  .hero-header-container img {
    width: 100vw;
    height: 15vh;
}

.dispaly {
  background-color: var(--dark-blue);
  color: var(--white);
  width: 75%;
  margin: -9em -22em;
  display: block;
  text-align: center;
  font-size: 17px;
}

.nav-item a {
    font-size: 18px;
    margin: 0rem 0rem;
}

.vert-line {
  height: 1rem;
  margin: 1rem 0rem;
}

#about-container h1, #skies-container h1 {
  margin: 13px;
  font-size: 25px;
}

#question-blue {
  margin: 0rem 5.5rem;
  width: 68vw;
}

#question-blue p {
  text-align: center;
  font-size: 18px;
  color: var(--white);
}

.fs-6 {
  padding: 0rem 5.5rem;
}

.grey{
  background-color: var(--grey);
  margin-left: 5.5rem;
  margin-right: 5.5rem;
}

h6{
  padding: 0rem 0.5rem;
  
}

.col img {
  max-width: 29vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 1rem 3rem;
}

}

@media (min-width: 992px) {

  .hero-header-container{
    margin: 0rem 3rem;
  }

  .hero-header-container img {
    width: 100vw;
    height: 15vh;
}
  
  .dispaly {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 75%;
    margin: -9em -28em;
    display: block;
    text-align: center;
    font-size: 17px;
  }
  
  .nav-item a {
      font-size: 18px;
      margin: 0rem 0rem;
  }
  
  .vert-line {
    height: 1rem;
    margin: 1rem 0rem;
  }
  
  #about-container h1, #skies-container h1 {
    margin: 13px;
    font-size: 25px;
  }
  
  #question-blue {
    margin: 0rem 12rem;
    width: 57vw;
  }
  
  #question-blue p {
    text-align: center;
    font-size: 18px;
    color: var(--white);
  }
  
  .fs-6 {
    padding: 0rem 12rem;
    text-align: justify;
  }
  
  .grey{
    background-color: var(--grey);
    margin-left: 12rem;
    margin-right: 11.1rem;
  }
  
  h6{
    padding: 0rem 0.5rem;
    
  }
  
  .col img {
    max-width: 35vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
  
}

@media (min-width: 1200px) {

  .hero-header-container{
    margin: 0rem 3rem;
  }

  .hero-header-container img {
    width: 100vw;
    height: 20vh;
}
    
    .dispaly {
      background-color: var(--dark-blue);
      color: var(--white);
      width: 68.5%;
      margin: -10em -35.3em;
      display: block;
      text-align: center;
      font-size: 19px;
    }
    
    .nav-item a {
        font-size: 18px;
        margin: 0rem 8rem;
    }
    
    .vert-line {
      height: 1rem;
      margin: 1rem 0rem;
    }
    
    #about-container h1, #skies-container h1 {
      margin: 1rem;
      font-size: 40px;
    }
    
    #question-blue {
      margin: 0rem 17rem;
      width: 45vw;
    }
    
    #question-blue p {
      text-align: center;
      font-size: 25px;
      color: var(--white);
    }
    
    .fs-6 {
      padding: 0rem 17rem;
      width: 91vw;
      text-align: justify;
    }
    
    .grey{
      background-color: var(--grey);
      margin-left: 17rem;
      margin-right: 19rem;
    }
    
    h6{
      padding: 0rem 0.5rem;
      
    }
    
    .col img {
      max-width: 100%;
      margin: 0px 10px;
      
    }

    #skies-container {
      background-color: var(--dark-blue);
      color: var(--white);
      padding-bottom: 1rem;
  }
    
}

@media (min-width: 1400px) {

  .hero-header-container{
    margin: 0rem 3rem;
  }

  .hero-header-container img {
    width: 100vw;
    height: 30vh;
}

  .dispaly {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 75%;
    margin: -17rem -50rem;
    display: block;
    text-align: center;
    font-size: 26px;
  }
  
  .nav-item a {
    font-size: 25px;
    margin: 0rem 7rem;
  }
  
  .vert-line {
    height: 1rem;
    margin: 1rem 0rem;
  }
  
  #about-container h1, #skies-container h1 {
    margin: 1rem;
    font-size: 40px;
  }
  
  #question-blue {
    margin: 0rem 21rem;
    width: 43vw;
  }
  
  #question-blue p {
    text-align: center;
    font-size: 25px;
    color: var(--white);
  }
  
  .fs-6 {
    padding: 0rem 21rem;
    width: 91vw;
  }
  
  .grey{
    background-color: var(--grey);
    margin-left: 21rem;
    margin-right: 22.3rem;
  }
  
  h6{
    padding: 0rem 0.5rem;
    
  }
  
  .col img {
    max-width: 100%;
    margin: 0px 10px;
    
  }

  #skies-container {
    background-color: var(--dark-blue);
    color: var(--white);
    padding-bottom: 1rem;
}
  
}

@media (min-width: 1600px) {

  .hero-header-container{
    margin: 0rem 3rem;
  }

  .hero-header-container img {
    width: 100vw;
    height: 40vh;
}
  
  .dispaly {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 67.56%;
    display: block;
    margin: -21rem -50rem;
    text-align: center;
    font-size: 26px;
  }
  
  .nav-item a {
    font-size: 25px;
    margin: 0rem 7rem;
  }
  
  .vert-line {
    height: 1.5rem;
    margin: 1rem 0rem;
  }
  
  #about-container h1, #skies-container h1 {
    margin: 1rem;
    font-size: 40px;
  }
  
  #question-blue {
    margin: 0rem 25rem;
    width: 30vw;
}
#question-blue p {
  text-align: center;
  font-size: 25px;
  color: var(--white);
}

.fs-6 {
  padding: 0rem 25rem;
  text-align: justify;
}

#text{
  font-size:20px !important;
}

.grey{
  background-color: var(--grey);
  margin-left: 25rem;
  margin-right: 26rem;
}

h6{
  padding: 0rem 0.5rem;
  
}

.col img {
  max-width: 100%;
  margin: 0px 10px;
  
}

#skies-container {
  background-color: var(--dark-blue);
  color: var(--white);
  padding-bottom: 1rem;
}
  }
  
@media (min-width: 2000px) {

    .hero-header-container{
      margin: 0rem 0rem;
    }
  
    .hero-header-container img {
      width: 100vw;
      height: 50vh;
  }
    
    .dispaly {
      background-color: var(--dark-blue);
      color: var(--white);
      width: 67.56%;
      margin: -15em -45em;
      display: block;
      text-align: center;
      font-size: 26px;
    }
    
    .nav-item a {
      font-size: 30px;
      padding: 0rem 10rem;
    }
    
    .vert-line {
      height: 1.5rem;
      margin: 1rem 0rem;
    }
    
    #about-container h1, #skies-container h1 {
      margin: 1rem;
      font-size: 40px;
    }
    
    #question-blue {
      margin: 0rem 22rem;
      width: 25vw;
  }
 
  .fs-6 {
    padding: 0rem 22rem;
    text-align: justify;
  }
  
  #text{
    font-size:20px !important;
  }
  
  .grey{
    background-color: var(--grey);
    margin-left: 22rem;
    margin-right: 21.5rem;
  }
  
  h6{
    padding: 0rem 0.5rem;
    
  }
  
  .col img {
    max-width: 80%;
    margin: 0rem 3rem;
    
  }
  
  #skies-container {
    background-color: var(--dark-blue);
    color: var(--white);
    padding-bottom: 1rem;
  }
    }
    